@tailwind base;
@tailwind components;
@tailwind utilities;

/* garantir que app ocupe a tela inteira */
html,
body,
#root {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

/* fundo claro e texto escuro */
body {
  @apply bg-gray-50 text-gray-900;
}
